<ion-view view-title="eventtype"  hide-nav-bar="true" class="eventForm">
  <ion-header-bar> <a href="" class="smallLogo button"></a>
    <h1 class="title">Welcome, (Username)</h1>
    <a ng-click="Logout()" class="power button"><i class="ion-power"></i></a> </ion-header-bar>
  <ion-content class="has-footer">
    <div class="row eventTab">
      <div class="col col-50">
        <div class="tabtext" ng-click="">
          <div class="icon"><i class="ion-plane"></i></div>
          <h3>Vacation</h3>
        </div>
      </div>
      <div class="col col-50">
        <div class="tabtext" ng-click="">
          <div class="icon"><i class="ion-briefcase"></i></div>
          <h3>Remote</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab">
      <div class="col col-50">
        <div class="tabtext" ng-click="">
          <div class="icon"><i class="ion-home"></i></div>
          <h3>Home</h3>
        </div>
      </div>
      <div class="col col-50">
        <div class="tabtext" ng-click="">
          <div class="icon"><i class="ion-bug"></i></div>
          <h3>Sick</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab">
      <div class="col col-50">
        <div class="tabtext dubble" ng-click="">
          <div class="icon"><i class="ion-easel"></i></div>
          <h3>Training
            Conference</h3>
        </div>
      </div>
      <div class="col col-50">
        <div class="tabtext" ng-click="">
          <div class="icon"><i class="ion-more"></i></div>
          <h3>Other</h3>
        </div>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer">
<div class="padding"><button ui-sref="EventDetails" class="button button-block btnSubmit">Next</button></div>
</div>

</ion-view>