.ionic_Calendar .calendar_Date .row.Daysheading {text-align:center;}
.ionic_Calendar .txtCenter {text-align:center;}
.ionic_Calendar .col.selMonth { background-color: #096fb4; color:white; }
.ionic_Calendar .col.selDate { background-color: #096fb4; color:white; }
.ionic_Calendar .col.selYear { background-color: #096fb4; color:white;  }
.ionic_Calendar .col.fadeDateDisp, .col.fadeYear { background-color: #E9E9E9; color:#cbbea4 }
.ionic_Calendar .DaysDisplay .col{ border: 1px solid #e5ded1; padding-top: 10px; font-weight: bolder; height: 40px;}
.ionic_Calendar .DaysDisplay.row{ padding-left: 0px; padding-right: 0px; }
.ionic_Calendar .MonthsDisplay.row{ padding-left: 0px; padding-right: 0px; }
.ionic_Calendar .MonthsDisplay .col{ border: 1px solid #e5ded1; padding-top: 30px; font-size: 18px;  height: 80px;}
.ionic_Calendar .YearsDisplay.row{ padding-left: 0px; padding-right: 0px; }
.ionic_Calendar .YearsDisplay .col{ border: 1px solid #e5ded1; padding-top: 30px; font-size: 18px; height: 80px;}
.ionic_Calendar .marginTop0 { margin-top: 0px !important;}
.ionic_Calendar .paddingBottom0 { padding-bottom: 0px !important;}
.ionic_Calendar .Daysheading_Label .col { padding-bottom: 0px !important;}
